# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*~
dist/
bin/
build/
.metadata/
2015 Robot Code/walle/dist/FRCUserProgram.jar
2015 Robot Code/walle/dist/FRCUserProgram.jar
2015 Robot Code/walle/dist/FRCUserProgram.jar
2015 Robot Code/Getting Started/build.xml
2015 Robot Code/walle/dist/FRCUserProgram.jar
2015 Robot Code/.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties